.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 36px 70px;
  min-height: calc(100vh - var(--header-height));
  color: var(--color-light);
  background-color: var(--color-dark-alt);
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: 38px;
  line-height: 1.27;
  font-weight: 700;
}

.banner-info::before {
  content: '';
  width: 194px;
  height: 194px;
  margin-right: 30px;
  background: url('../../assets/icons/arrows/bold-arrow-down-right.svg') center/contain no-repeat;
}

.banner-title {
  font-size: 360px;
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
}

.banner-pagination-button::after {
  content: '';
  width: 10px;
  height: 10px;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}
