.family {
  background-color: var(--color-dark-alt);
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  padding-block: 132px 62px;
  text-align: center;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.family-image {
  scroll-snap-align: start;
}