.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 15px;
}

.location-title:not(:last-child) {
  margin-bottom: 14px;
}

.location-description {
  max-width: 490px;
}

.location-description:not(:last-child) {
  margin-bottom: 37px;
}