.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-light);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.button:hover {
  color: var(--color-light);
  background-color: transparent;
  border-color: var(--color-light);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-inline: 31px 80px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}

.button.transparent::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url('../../assets/icons/arrows/arrow-top-right.svg') center / 70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.button.transparent:hover::after {
  border: none;
  filter: invert(1);
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }
}